@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

@layer components {
  .btn-orange {
    @apply text-white bg-secondary px-4 rounded-xl py-[10px] hover:bg-secondary-h font-semibold;
  };

  .navResponsive {
    @apply z-10 left-0 bg-white text-2xl opacity-100;
  }
}


