@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

/* scrollbar style */
.scrollbar::-webkit-scrollbar {
  width: 5px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #ff731d;
  border-radius: 20px;
}

.scrollbar
::-webkit-scrollbar-thumb:hover {
  background: #e95900;
}

/* spinner  */
.loader {
  border-top-color: #ff731d;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* tailwind custom bundle style */
@layer components {
  .btn-orange {
    @apply text-white bg-secondary px-4 rounded-xl py-[10px] hover:bg-secondary-h hover:text-secondary font-semibold duration-300;
  };

  .btn-orange-outline {
    @apply border-[1px] border-secondary rounded-xl px-4 py-[10px] text-secondary font-semibold hover:bg-secondary hover:text-white duration-300;
  }

  .navResponsive {
    @apply z-10 left-0 bg-white text-2xl opacity-100;
  }

  .btn-email {
    @apply border-[1px] rounded-[10px] border-solid border-[#2B2B2B] py-[10px] px-4
  }
}


